@model Application.DataTransfer.ProjectDto

@{
    ViewData["Title"] = "Details";
}

<h2>Project Details</h2>

@if (Model == null)
{
    <h1>Project Not Exists</h1>
}
else
{
    <div>
        <h4>ProjectDto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StatusId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StatusId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StatusValue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StatusValue)
            </dd>
        </dl>
    </div>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
